:root{
    --text-pink: #ffc0d1;
    --text-purple: purple;
    --text-blue: blue;
    --cyan: cyan;
}

.welcome-info {
    background: url("../Images/mega-obrazek-lepsi.jpg");
    height: 95vh;
    background-size: cover;
    background-position: center;
}

.text-pink{
    color: var(--text-pink);
}
.text-purple{
    color: var(--text-purple);
}

.text-blue{
    color: var(--text-blue);
}

.text-cyan{
    color: var(--cyan);
}


.checked {
    color: orange;
}

.section-title {
    margin-top: 50px;
    margin-bottom: 30px;
}
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50%;
}

.fa-instagram {
    background: #bc1888;
    color: white;
    border-radius: 50%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}